Solution/App/Debug/
Solution/Common/Debug/
Solution/Common/x64/
Solution/App/x64/
*.opendb
*.db
Solution/App/Log.txt
Solution/Debug/
Solution/.vs/Solution/v14/.suo
Solution/StageEditor/Debug/
Solution/StageEditor/Log.txt
Solution/StageEditor/x64/
*.wav
*.tlog
*.obj
*.pdb
*.log
Solution/Release/App.exe
Solution/Release/App.iobj
Solution/Release/App.ipdb
Solution/Release/Common.lib
Solution/Release/Framework2017.lib
*.ipdb
*.iobj
Solution/Release/Log.txt
