Solution/App/Debug/
Solution/Common/Debug/
Solution/Common/x64/
Solution/App/x64/
*.opendb
*.db
Solution/App/Log.txt
Solution/Debug/
Solution/.vs/Solution/v14/.suo
Solution/StageEditor/Debug/
Solution/StageEditor/Log.txt
Solution/StageEditor/x64/
